* { 
    border: 0px solid transparent;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

header {
    height: 13%;
    width: 100%;
}

main {
    width: 100%;
    height: 85%;
}

footer {
    width: 100%;
    height: 2%;
}

.header-section, #header-div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 167, 167, 0.232);
    color: white;
}

.main-section, #main-div-holder { 
    height: 100%;
    width: 100%;
}

#city-div {
    height: 32%;
}
#forecast-title-div {
    height: 5%;
    background-color: rgba(0, 167, 167, 0.322);
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#forecast-div {
    height: 63%;
}

.forecast-card {
    margin: 15px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 1px 1px 40px 10px #e3cfe491;
    border: solid 1px rgb(56, 204, 179);
}
.forecast-card:hover {
    transition: ease-in-out .35s;    
    scale: 1.025;
}
.forecast-card div {
    border-radius: 8px;
}

.forecast-card-date {
    height: 20%;
    width: 100%;
    font-size: 30px;
    color: rgba(9, 80, 80, 0.584);
    font-weight: 350;
}
.forecast-card-img {
    height: 20%;
    width: 30%;
    margin-bottom: 15%;
}

.forecast-card-temp, .forecast-card-wind, .forecast-card-humidity {
    height: 15%;
    width: 100%;
    font-size: 20px;
    color: rgba(16, 123, 123, 0.741);
    font-weight: 500;
}

.forecast-card-temp {
    color: rgba(9, 80, 80, 0.584);
    font-weight: 500;
}

.card-body {
    padding: 5%;
}

#forecast-title, #forecast-title-text {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.display-3 {
    font-weight: 350;
}

.city-card {
    height: 100%;
    border: 1px solid transparent;
    border-bottom: 2px solid rgba(121,91,87, 0.89);
}

#city-name {
    height: 35%;
    background-color: rgba(0, 167, 167, 0.322);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}
#city-temp, #city-humidity, #city-wind {
    height: 21.66%;
    width: 100%;
    font-weight: 150;
}

#dialog {
    width: 500px;
    height: 500px;
}

.city-display-button {
    width: 100%;
    border-radius: 3px;
}

.card-title {
    margin-bottom: 0;
}

#city-button {
    border-radius: 5px;
    background-color: rgba(173, 143, 139, 0.89);
}

#city-button:hover {
    transition: ease-in-out .2s;
    color: white;
    border: rgba(130, 241, 222, 0.564) solid 2px;
}

#main-city-card {
    border-bottom: solid 1px rgba(173, 143, 139, 0.89);
}

span {
    font-size: 20px;
    font-weight: 150;
}


@media only screen and (max-width: 780px) {
    .forecast-card {
        margin: 5px
    }
    .forecast-card-date {
        font-size: 15px;
        height: 20%;
    }
    .forecast-card-temp, .forecast-card-wind, .forecast-card-humidity {
        font-size: 9px;
    }
    .forecast-card-img {
        height: 30%;
        margin-bottom: 0%;
    }
    #city-name {
    font-size: 20px;
    height: 20%;
    margin-bottom: 10px;
    }
    span {
        font-size: 15px;
    }
}